.food-truck-app {
    width: 100%;
}

.food-truck-app .app-header {
    text-align: center;
    background-color: lightblue;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.food-truck-app .food-truck-body {
    display: flex;
    margin: 2rem;
}